<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mb.module.dao.BalanceDao">
    <insert id="createBalance">
        INSERT INTO accounts.balance (customer_id,
                                      currency_code,
                                      country_code,
                                      account_id,
                                      balance_amount)
        VALUES (#{customerId},
                #{currencyCode},
                #{countryCode},
                #{accountId},
                #{balanceAmount})
    </insert>

    <update id="update">
        UPDATE accounts.balance
        SET balance_amount = #{newBalanceAmount}
        WHERE id = #{balanceId}
    </update>

    <select id="findByAccountId" resultType="com.mb.module.dto.BalanceDto">
        SELECT id,
            customer_id as "customerId",
            account_id as "accountId",
            country_code as "countryCode",
            currency_code as "currencyCode",
            balance_amount as "balanceAmount"
        FROM accounts.balance b
        WHERE b.account_id = #{accountId}
    </select>


    <select id="findByAccountIdAndCurrency" resultType="com.mb.module.dto.BalanceDto">
        SELECT id,
            customer_id as "customerId",
            account_id as "accountId",
            country_code as "countryCode",
            currency_code as "currencyCode",
            balance_amount as "balanceAmount"
        FROM accounts.balance b
        WHERE b.account_id = #{accountId} AND b.currency_code = #{currencyCode}
    </select>
</mapper>